
.list {
    background-color: white;
    margin-top: 0px;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    list-style-type: none;
}
.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-self: space-between;
    border-bottom: 1px solid #ddd;
    align-self: center;
}

.list__taskDone {
    text-decoration: line-through;
}

.list__clearButton {
    height: 30px;
    width: 30px;
    padding: 0px;
    background-color: hsl(0, 100%, 34%);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.list__clearButton:hover {
    background-color: hsl(0, 100%, 50%);
    outline: black solid 1px;
}

.list__clearButton:active {
    background-color: hsl(0, 96%, 27%);
}

.list__button {
    height: 30px;
    width: 30px;
    background-color: hsl(102, 49%, 29%);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.list__button:hover {
    background-color: hsl(103, 34%, 42%);
    outline: black solid 1px;
}

.list__button:active {
    background-color: hsl(103, 53%, 22%);
}