.section {
    background-color: white;
    padding: 15 0px 15px 15px;
}

.section__header {
    padding: 15px;
    margin: auto;
    border-bottom: #f2f2f2 solid 2px;
}

.section__list {
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    padding: 15px;
    list-style-type: none;
}
/*.section_list--done {
    text-decoration: line-through;
}*/