html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
    word-break: break-word;
}

.heading {
margin: 0 auto;
margin-bottom: 5px;
}